@font-face {
	font-family: "Noto Sans";
	src: url("/fonts/Noto-Sans-regular/Noto-Sans-regular.eot");
	src: url("/fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix") format("embedded-opentype"),
		url("/fonts/Noto-Sans-regular/Noto-Sans-regular.woff2") format("woff2"),
		url("/fonts/Noto-Sans-regular/Noto-Sans-regular.woff") format("woff"),
		url("/fonts/Noto-Sans-regular/Noto-Sans-regular.ttf") format("truetype"),
		url("/fonts/Noto-Sans-regular/Noto-Sans-regular.svg#Noto Sans") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans";
	src: url("/fonts/Noto-Sans-700/Noto-Sans-700.eot");
	src: url("/fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix") format("embedded-opentype"),
		url("/fonts/Noto-Sans-700/Noto-Sans-700.woff2") format("woff2"),
		url("/fonts/Noto-Sans-700/Noto-Sans-700.woff") format("woff"),
		url("/fonts/Noto-Sans-700/Noto-Sans-700.ttf") format("truetype"),
		url("/fonts/Noto-Sans-700/Noto-Sans-700.svg#Noto Sans") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans";
	src: url("/fonts/Noto-Sans-italic/Noto-Sans-italic.eot");
	src: url("/fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix") format("embedded-opentype"),
		url("/fonts/Noto-Sans-italic/Noto-Sans-italic.woff2") format("woff2"),
		url("/fonts/Noto-Sans-italic/Noto-Sans-italic.woff") format("woff"),
		url("/fonts/Noto-Sans-italic/Noto-Sans-italic.ttf") format("truetype"),
		url("/fonts/Noto-Sans-italic/Noto-Sans-italic.svg#Noto Sans") format("svg");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url("/fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot");
	src: url("/fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix") format("embedded-opentype"),
		url("/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2") format("woff2"),
		url("/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff") format("woff"),
		url("/fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf") format("truetype"),
		url("/fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#Noto Sans") format("svg");
	font-weight: 700;
	font-style: italic;
}